.left-border {
  border-radius: 6px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.05), 0 1px 5px 0 rgba(0,0,0,0.04);
  margin-bottom: 12px;
}
.left-border:hover {
  box-shadow: 0 2px 4px rgba(0,0,0,0.12), 0 2px 3px rgba(0,0,0,0.24);
  transition: all .3s linear;
}
.a-style {
  margin-left: 5px;
  cursor: pointer;
  border-radius: 0;
  padding-left: 0;
  width: 100%;
  display: flex;
  border: none;
}

img {
  max-height: 100px;
  display: block;
  margin: auto;
}
.image-span {
  display: block;
  width: 100px;
}
.text-span {
  display: block;
  width: 90%;
}
.list-group-item.active, .list-group-item.active:hover {
  border: none;
}
.list-group-item:hover {
  border: none;
}
.list-group-item-heading {
  color: #5a6371 !important;
}
.list-group-item-text {
  color: #99a1ab;
}
@media only screen and (max-width: 500px) {
  .list-group-item-heading {
    font-size: 17px;
  }
  .list-group-item-text {
    font-size: 12px;
  }
}
