<div class="left-border" [style.background]="beer.type.color" *ngIf="beer.creator.hidden === false || (beer.creator.email === user_email && beer.creator.hidden === true)">
  <a
    [routerLink]="[index]"
    (mouseenter)="onMouseOver()"
    (mouseleave)="onMouseLeave()"
    routerLinkActive="active"
    [ngStyle]="{'background-color': beer.creator.hidden === false ? 'white' : '#eeeeee'}"
    class="list-group-item clearfix bcg-color a-style">
  <span class="image-span">
  <img
    [src]="beer.image_url"
    alt="{{beer.name}}">
  </span>
    <span class="text-span">
    <h3 class="list-group-item-heading">{{beer.name}}</h3>
    <p class="list-group-item-text">{{beer.description}}</p>
  </span>
  </a>
</div>
