<div class="header">
  <div class="header-row">
    <div class="header-logo">
      <a href="{{appRouterUrls.DEFAULT}}"><img src="assets/images/navbar-brand.png" alt="Beers API"></a>
    </div>
    <div class="nav-buttons header-row">
      <a class="section-button" routerLinkActive="active" [routerLink]="appRouterUrls.DEFAULT"> <i class="icon material-icons">local_drink</i><span>Beers</span></a>
      <a class="section-button" routerLinkActive="active" [routerLink]="appRouterUrls.UBL" *ngIf="userLoggedIn"><i class="icon material-icons">format_list_bulleted</i><span>User's Lists </span></a>
      <a class="section-button" [routerLink]=""><i class="icon material-icons">group</i><span>About us</span></a>
      <a class="section-button" [routerLink]=""><i class="icon material-icons">bar_chart</i><span>Statistics</span></a>
      <a class="section-button" [routerLink]=""><i class="icon material-icons">mail_outline</i><span>Contact</span></a>
    <div class="menu-buttons">
      <a class="section-button signed-in-as" *ngIf="userLoggedIn"> <i class="icon material-icons">person</i><span>Signed in as {{user.email}}</span></a>
      <div class="sign-in menu-rounded-button" *ngIf="!userLoggedIn">
        <a [routerLink]="appRouterUrls.LOGIN">Sign in</a>
      </div>
      <div class="menu-rounded-button manage-button-div" *ngIf="userLoggedIn">
        <button class="manage-button" [matMenuTriggerFor]="appMenu">
          Manage<span class="caret"></span>
        </button>
      </div>
      <mat-menu #appMenu="matMenu" class="manage-dropdown">
        <button mat-menu-item [routerLink]="appRouterUrls.NEWBEER">New Beer</button>
        <button mat-menu-item [routerLink]="appRouterUrls.NEWAPIBEER">New Beer from external API</button>
      </mat-menu>
      <div class="menu-rounded-button logout-button" *ngIf="userLoggedIn" >
        <a [routerLink]="appRouterUrls.LOGIN" (click)="logout()">Logout</a>
      </div>
      <a class="drawer-button" (click)="sidenavOpen()"><i class="material-icons drawer-icon">menu</i></a>
    </div>
    </div>
  </div>
</div>
<div class="header-container">
  <div class="header-mobile">
    <div class="logo-mobile">
      <a href="{{appRouterUrls.DEFAULT}}"><img src="assets/images/navbar-brand.png" alt="Beers API"></a>
    </div>
    <div class="sign-buttons">
      <a class="mobile-menu-buttons mobile-purple-button" [routerLink]="appRouterUrls.REGISTER" *ngIf="!userLoggedIn">Register</a>
      <a class="mobile-menu-buttons mobile-sign-in-button" [routerLink]="appRouterUrls.LOGIN" *ngIf="!userLoggedIn">Sign in</a>
      <a class="mobile-menu-buttons mobile-purple-button" *ngIf="userLoggedIn" [matMenuTriggerFor]="appMenu">Manage <span class="caret"></span></a>
      <a class="mobile-menu-buttons mobile-logout-button" [routerLink]="appRouterUrls.LOGIN" (click)="logout()" *ngIf="userLoggedIn">Logout</a>
    </div>
    <a (click)="sidenavOpen()"><i class="material-icons drawer-icon">menu</i></a>
  </div>
</div>
