.header {
  position: relative;
  background-color: #fff;
  min-height: 65px;
  align-items: center;
}
.header-row {
  display: flex;
  height: 65px;
  align-items: center;
}
.nav-buttons {
  width: 100%;
}
.header-logo {
  cursor: pointer;
}
.header-logo img {
  height: 60px;
  vertical-align: middle;
  margin: 0 25px 0 32px;
}
.section-button {
  display: flex;
  color: #99a1ab;
  font-size: 14px;
  line-height: 24px;
  margin: 0 12px;
  cursor: pointer;
}
.section-button:hover {
  color: #f48fb1;
}
.active {
  color: #ff4081;
}
a {
  text-decoration: none;
}
.icon {
  vertical-align: middle;
  margin-right: 7px;
  display: inline;
}
.menu-buttons {
  margin-right: 24px;
  margin-left: auto;
  display: flex;
  color: #99a1ab;
  align-items: center;
  align-self: stretch;
}
.signed-in-as:hover {
  color: #99a1ab;
  cursor: unset;
}
.menu-rounded-button {
  box-shadow: none;
  line-height: 42px;
  height: 42px;
  border-radius: 20px;
  transition: .3s ease-out;
}
.menu-rounded-button:hover {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  transition: .3s ease-out;
}
.menu-rounded-button a {
  color: #FFFFFF;
  text-transform: none;
  line-height: 42px;
  font-size: 17px;
}
.sign-in {
  background: #9c27b0;
  padding: 0 20px;
}
.manage-button-div {
  background: #9c27b0;
  padding: 0 15px;
  margin-right: 10px;
}
.manage-button {
  background: none;
  border: none;
  color: #FFFFFF;
  font-size: 17px;
  line-height: 42px;
  vertical-align: middle;
  margin-top: -2px;
}
.manage-button span {
  margin-left: 5px;
}
.manage-dropdown {
  padding: 10px;
}
mat-list-item {
 color: #4F8A10;
}
.logout-button {
  background: #ff4081;
  padding: 0 20px;
}
.drawer-icon {
  color: #99a1ab;
  margin-left: 15px;
  margin-top: 5px;
  cursor: pointer;
}
.drawer-icon:hover {
  color: #f48fb1;
}
.header-container {
  display: none;
}
@media only screen and (min-width: 1500px) {
  .header, .header-row {
    height: 80px;
  }
}
@media only screen and (max-width: 1321px) {
  .signed-in-as {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .header {
    display: none;
  }
  .header-container {
    display: block;
    height: 45px;
    background: #FFFFFF;
  }
  .header-mobile {
    display: flex;
    align-items: center;
  }
  .header-mobile a {
    margin-left: auto;
    margin-right: 10px;
  }
  .drawer-icon {
    color: #37474f;
  }
  .logo-mobile img {
    height: 45px;
    margin: 0 15px 0 22px;
  }
  .sign-buttons {
    flex: 1;
    display: flex;
  }
  .mobile-menu-buttons {
    height: 32px;
    text-align: center;
    line-height: 32px;
    flex: 1;
    font-size: 14px;
    box-shadow: unset;
    text-transform: initial;
    font-weight: 600;
    border-radius: 20px;
  }
  .mobile-purple-button {
    color: #FFFFFF;
    background-color: #a335b5;
  }
  .mobile-sign-in-button {
    color: #a335b5;
    border: 1.5px solid #a335b5;
  }
  .mobile-logout-button {
    color: #ff4081;
    border: 1.5px solid #ff4081;
  }
}
@media only screen and (max-width: 370px) {
  .mobile-menu-buttons {
    font-size: 9px;
  }
}
