.scrollbar {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
a {
  cursor: pointer;
}
img {
  max-height: 200px;
  margin: auto;
}
.main-div {
  padding: 20px;
  margin: auto auto 10px;
  height: 85vh;
}

.back-icon {
  position: relative;
  top: 10px;
  left: 10px;
  font-size: 24px;
  color: #FFF;
  cursor: pointer;
  background-color: rgba(0,0,0,0.2);
  border-radius: 4px;
}
.header {
  width: 100%;
  height: 235px;
  border-radius: 0 0 4px 4px;
}
.header-content {
  display: flex;
}
.image-border {
  flex-shrink: 0;
  height: 147px;
  width: 147px;
  background-color: rgba(255,255,255,0.3);
  background-clip: padding-box;
  position: relative;
  border-radius: 50%;
  border: 10px solid rgba(255,255,255,0.15);
  margin: 0 20px;
}
.image {
  height: 107px;
  width: 107px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
}
.image img {
  height: 90px;
}
.info {
  padding-top: 30px;
  color: #FFF;
  width: auto;
}
.beer-name {
  font-size: 28px;
  line-height: 0.9em;
}
.beer-tagline {
  font-size: 18px;
  line-height: 0.95em;
}
.manage-button-div {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 40px;
}
.manage-button {
  color: #448AFF;
  background-color: #fff;
  border: none;
  text-transform: none;
  padding: 0 20px;
  border-radius: 20px;
  height: 36px;
  display: flex;
  align-items: center;
  font-weight: normal;
}
.setting-icon {
  margin: 0 4px 0 0;
}
.boxes {
  display: flex;
  justify-content: unset;
  position: relative;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 20px;
}
.box {
  position: relative;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.08), 0 1px 5px 0 rgba(0,0,0,0.06);
  border-radius: 4px;
  padding: 5px 15px;
  text-align: center;
  max-width: calc(25%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin-left: 15px;
}
.box:nth-child(1) {
  margin-left: 0;
}
.text-content {
  color: #37474f;
  font-size: 18px;
  padding-top: 10px;
}
.text-category {
  font-size: 12px;
  color: #99a1ab;
}
.more-info {
  margin-top: 10px;
  box-shadow: 0 2px 18px 10px rgba(225,232,240,0.7);
  border-radius: 5px;
  background-color: #fff;
}
.more-info-title {
  padding: 12px 20px;
  border-bottom: 2px solid #f3f6f8;
  font-size: 22px;
  position: static;
}
.more-info-content {
  padding: 20px 10px;
}
.more-info-container {
  display: flex;
  flex-wrap: wrap;
}
.single-info {
  flex: 1 0 20%;
  max-width: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.desc-margin {
  margin-top: 50px;
}
.description {
  padding: 20px;
  font-size: 15px;
}

@media only screen and (max-width: 640px) {
  .header {
    height: auto;
  }
  .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: unset;
    transform: none;
    padding: 0;
    flex-direction: row;
    margin-bottom: 30px;
  }
  .box {
    display: flex;
    flex: 1 0 calc(50%);
    max-width: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    box-shadow: none;
    border-bottom: 0.4px solid rgba(216, 216, 216, 0.71);
    border-right: 0.4px solid rgba(216, 216, 216, 0.71);
  }
  .box:nth-child(1), .box:nth-child(3) {
    border-left: 0.4px solid rgba(216, 216, 216, 0.71);
  }
  .more-info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .single-info {
    flex: 1 0 calc(50%);
    max-width: none;
  }
  .header-content {
    flex-wrap: wrap;
  }
  .info {
    flex: 1;
  }
  .manage-button-div {
    flex: 1 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
}
