<div class="scrollbar">
  <div class="header" [ngStyle]="header">
    <i class="material-icons back-icon" (click)="onBack()" [routerLink]="appRouterUrls.DEFAULT" >arrow_back</i>
    <div class="header-content">
      <div class="image-border">
        <div class="image">
          <img src="{{beer.image_url}}" alt="{{beer.name}}">
        </div>
      </div>
      <div class="info">
        <p class="beer-name">{{beer.name}}</p>
        <p class="beer-tagline">{{beer.tagline}}</p>
      </div>
      <div class="manage-button-div" *ngIf="userRole === 'user' || userRole === 'admin'">
        <button mat-button class="manage-button" [matMenuTriggerFor]="menu">
          <i class="material-icons setting-icon">settings_applications</i>
          Manage beer
          <span class="caret"></span>
        </button>
        <mat-menu #menu="matMenu">
          <button matTooltip="Current list name: {{currentListName}}" (click)="onAddToUsersList()" mat-menu-item>Add to current user's list</button>
          <button *ngIf="userRole === 'admin' || beer.creator.email === userLoggedIn && beer.creator.hidden === true" (click)="onEditBeer()" mat-menu-item>Edit Beer</button>
          <button *ngIf="userRole === 'admin' || beer.creator.email === userLoggedIn && beer.creator.hidden === true" (click)="onDeleteBeer()" mat-menu-item>Delete Beer</button>
          <button *ngIf="beer.creator.email === userLoggedIn && beer.creator.hidden === true" (click)="onPublish()" mat-menu-item>Publish</button>
        </mat-menu>
      </div>
    </div>
  </div>
  <div class="boxes">
    <div class="box">
      <p class="text-content">{{beer.type.name}}</p>
      <p class="text-category">Type</p>
    </div>
    <div class="box">
      <p class="text-content">{{beer.city.name}}</p>
      <p class="text-category">Produced in</p>
    </div>
    <div class="box">
      <p class="text-content">{{beer.contributed_by}}</p>
      <p class="text-category">Contributed by</p>
    </div>
    <div class="box">
      <p class="text-content">{{beer.first_brewed | date: 'MM/yyyy'}}</p>
      <p class="text-category">First brewed</p>
    </div>
  </div>
  <div class="more-info">
    <div class="more-info-title">
      More informations
    </div>
    <div class="more-info-content">
      <div class="more-info-container">
        <div class="single-info">
          <p class="text-content">{{beer.abv}}</p>
          <p class="text-category">Alcohol by volume</p>
        </div>
        <div class="single-info">
          <p class="text-content">{{beer.ibu}}</p>
          <p class="text-category">International Bitterness Units</p>
        </div>
        <div class="single-info">
          <p class="text-content">{{beer.ebc}}</p>
          <p class="text-category">European Brewery Convention</p>
        </div>
        <div class="single-info">
          <p class="text-content">{{beer.srm}}</p>
          <p class="text-category">Standard Reference Method</p>
        </div>
        <div class="single-info">
          <p class="text-content">{{beer.ph}}</p>
          <p class="text-category">PH</p>
        </div>
      </div>
    </div>
  </div>
  <div class="more-info desc-margin">
    <div class="more-info-title">
      Description
    </div>
    <div class="more-info-content description">
      <p>{{beer.description}}</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pulvinar, justo vel molestie dictum, augue enim sollicitudin velit, quis ultricies nisl lorem sed tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque non velit quis tellus faucibus finibus non id tortor. Maecenas a aliquam nulla. Etiam pulvinar, ipsum placerat dapibus varius, lectus diam auctor tortor, eu faucibus justo nunc vitae nisl. Nulla vulputate quis nulla a maximus. Donec ullamcorper neque mi, nec pharetra ligula suscipit vitae. Mauris tellus ex, pretium in ipsum viverra, pharetra dignissim neque. Nullam dignissim, dolor sed gravida condimentum, massa odio tempus enim, eget iaculis erat mauris sit amet nunc. Aliquam mollis nisi nec augue hendrerit laoreet.
      <p>Nam id dignissim diam, eu aliquet libero. Ut sagittis neque at leo lacinia elementum. Nullam rutrum placerat enim vitae euismod. Donec quis vulputate elit. Mauris placerat lacus ac lorem pretium, nec fringilla urna rutrum. Proin eu felis quis nibh aliquet vestibulum. Ut blandit a turpis nec convallis.</p>
      <p>Aliquam vitae pulvinar augue. Donec consectetur faucibus ex eu efficitur. Aliquam iaculis augue eget enim viverra, sit amet scelerisque nibh ultrices. Donec ultricies malesuada magna, vel vestibulum nulla venenatis eu. Nam ac luctus libero. Duis volutpat scelerisque nunc. Nulla diam eros, efficitur at risus et, sollicitudin viverra massa. Vivamus eget augue at velit efficitur pretium vel a sapien.</p>
      <p>Curabitur laoreet nulla id diam tincidunt porta. Integer gravida ex ac ante sodales commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tellus neque, facilisis faucibus tortor eu, dapibus dapibus tortor. Aenean imperdiet nunc sapien, vel ornare eros laoreet sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies, leo sit amet pharetra mattis, risus arcu pharetra arcu, vulputate finibus lorem quam non enim. Curabitur lobortis ornare purus, vitae finibus quam interdum sit amet. Morbi scelerisque ornare diam, ac condimentum orci vulputate ac. Ut sed neque tempus, ultrices tellus eget, vehicula mi.</p>
      <p>Quisque interdum libero ut leo consectetur rutrum. Mauris tempus felis interdum, hendrerit quam aliquam, lacinia arcu. Mauris eu volutpat nulla, in maximus augue. Curabitur dapibus dignissim ante, vel ornare lorem ultrices eget. Nam sit amet nulla lectus. Maecenas nisi erat, blandit at purus sit amet, accumsan tempor tortor. Nulla id metus leo. Integer non sem nec ante euismod feugiat sit amet non neque.</p>
    </div>
  </div>
</div>

