.main {
  width: 100%;
  margin-bottom: 3px;
  display: block;
}
.div-img-beer {
  width: 100px;
  float: left;
}
#img-beer {
  max-height: 120px;
  display: block;
  margin: auto;
}
#img-x {
  max-height: 20px;
  position: absolute;
  top: 40%;
  right: 40px;
  cursor: pointer;
}
p {
  width: 95%;
  padding: 5px;
}
.list-element {
  display: flex;
  height: 160px;
  border: 1px solid #a8a8b1;
  background-color: #fff;
  border-radius: 4px;
  padding: 20px 20px 20px 0;
  margin-bottom: 16px;
  flex-grow: 1;
}
.text {
  display: flex;
  flex-direction: column;
}
.small-text {
  display: flex;
  margin-right: 10px;
  color: #99a1ab;
  font-size: 12px;
}
.small-text p {
  display: flex;
  align-items: center;
}
.delete-sign {
  position: relative;
  top: -15px;
  cursor: pointer;
}
.delete-sign i {
  font-size: 20px;
  color: #5e656f;
}
