<div class="list-element" [ngStyle]="border">
  <div class="delete-sign" (click)="onDeleteItem()">
    <i class="material-icons">
      delete
    </i>
  </div>
  <div class="div-img-beer">
    <img
      [src]="favouriteBeer.image_url"
      alt="{{favouriteBeer.name}}"
      id="img-beer">
  </div>
  <div class="text">
    <h3 class="list-group-item-heading">{{favouriteBeer.name}}</h3>
    <p class="list-group-item-text">{{favouriteBeer.tagline}}</p>
    <div class="small-text">
      <p>
        <i class="material-icons">
          bookmark
        </i>
        {{favouriteBeer.type.name}}</p>
      <p>
        <i class="material-icons">
          location_city
        </i>
        {{favouriteBeer.city.name}}</p>
    </div>
  </div>
</div>
