.login {
  display: flex;
  background-color: #ffffff;
}
.left-side {
  height: 100vh;
  width: 50%;
  float: left;
  display: block;
}
.left-right-side {
  width: 100%;
  max-width: 430px;
  float: right;
  padding: 0;
  margin: 75px 84px;
  text-align: center;
}
h1 {
  color: #2E384D;
  font-size: 34px;
  font-family: Open Sans,sans-serif;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 20px;
}
.methods {
  display: flex;
  flex-wrap: wrap;
}
.basis-half {
  flex-basis: 45%;
}
.method {
  font-size: 12px;
  color: rgb(117, 117, 117);
  height: 48px;
  padding: 0 16px;
  background-color: #F3F4F6;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 8px 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 1.75;
  transition: linear 0.1s;
}
.method:hover {
  background-color: darken(#F3F4F6, 10%);
  transition: linear 0.1s;
}
.first-row-img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.linkedin-img {
  height: 20px;
  width: 20px;
  margin-right: 6px;
}
.fb-img {
  height: 20px;
  width: 10px;
  margin-right: 6px;
}

.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.20);
  margin: 8px 0;
}
.hr-sect::before,
.hr-sect::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.10);
  height: 2px;
  font-size: 0;
  line-height: 0;
  margin: 0 8px;
}
mat-form-field {
  width: 100%;
  margin-top: 10px;
  font-family: Open Sans,sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.inputs-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.glyphicon {
  font-size: 16px;
  margin-top: -8px;
  margin-right: 10px;
  color: #999;
}
.login ::ng-deep .mat-form-field.mat-focused {
  .mat-form-field-label {
    color: #ff4081;
  }
  .mat-input-element {
    color: #000;
    font-weight: 300;
  }
}
.login ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #ff4081;
}
.message-error-div {
  margin-bottom: 23px;
  width: 100%;
  height: 44px;
}
.message-error {
  padding: 10px;
  color: #D8000C;
  background-color: #FFD2D2;
  font-size: 17px;
  text-align: center;
  border-radius: 4px;
}
.submit-button {
  width: 70%;
  height: 40px;
  background-color: #ff4081;
  color: #fff;
  border: none;
  border-radius: 20px;
  font-weight: 600;
}
h6 {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.57;
  letter-spacing: 0.5px;
  margin-top: 30px;
}
h6 a {
  color: #ff4081;
}
.right-side {
  height: 100vh;
  width: 50%;
  background: url("https://cdn.pixabay.com/photo/2018/08/09/21/41/beer-3595595_960_720.jpg");
  background-size: 100% 100%;
}
@media screen and (max-width: 600px) {
  .login {
    overflow: scroll;
  }
  .right-side {
    display: none;
  }
  .left-side {
    height: calc(100vh - 45px);
    width: 100%;
    float: none;
    justify-content: center;
  }
  .left-right-side {
    width: auto;
    float: none;
    margin: 32px 15px;
  }
  .methods {
    flex-direction: column;
  }
}
