<div class="new-api-beer">
    <mat-form-field>
      <input matInput placeholder="Type beer name" aria-label="State" [matAutocomplete]="auto" [formControl]="beerCtrl">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event.option.value)">
        <mat-option *ngFor="let beer of filteredBeers" [value]="beer.name">
          <span>{{beer.name}}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  <button
    type="submit"
    class="btn btn-sample"
    [disabled]="!beerSelected"
    (click)="onSubmit()">Add new Beer
  </button>
</div>
