<div class="register">
  <div class="left-side">
    <div class="left-right-side">
      <div class="header">
        <h1>
          Get started for free
        </h1>
      </div>
      <div class="methods">
        <div class="method basis-half">
          <img src="assets/images/g-logo.png" alt="google" class="first-row-img">Register with Google
        </div>
        <div class="method basis-half">
          <img src="assets/images/github.png" alt="github" class="first-row-img">Register with Github
        </div>
        <div class="method basis-half">
          <img src="assets/images/linkedin.png" alt="linkedin" class="linkedin-img">Register with Linkedin
        </div>
        <div class="method basis-half">
          <img src="assets/images/facebook.png" alt="facebook" class="fb-img">Register with Facebook
        </div>
      </div>
      <div class="hr-sect">Or</div>

      <div class="inputs">
        <div class="inputs-center">
          <span class="glyphicon glyphicon-user"></span>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <label>
              <input matInput [formControl]="email">
            </label>
            <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
        <div class="inputs-center">
          <span class="glyphicon glyphicon-lock"></span>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <label>
              <input matInput [formControl]="password" [type]="hide ? 'password' : 'text'">
            </label>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
        <div class="message-error-div">
          <div *ngIf="messageStatus === 'success'" class="message-success">{{ messageText }}</div>
          <div *ngIf="messageStatus === 'error'" class="message-error">{{ messageText }}</div>
        </div>
        <button (click)="onSubmit()" class="submit-button">Register</button>

        <h6>Already have an account? <a href="{{appRouterUrls.LOGIN}}">Sign in</a></h6>
      </div>
    </div>
  </div>
  <div class="right-side"></div>
</div>
