<mat-drawer-container hasBackdrop="true">
  <mat-drawer class="drawer" #drawer position="end" mode="over">
    <ul class="ul-pc">
      <li>
        <div class="logo">
          <img src="assets/images/navbar-brand.png" alt="Beers API">
        </div>
      </li>
      <li>
        <i class="material-icons">work</i>Employer Panel
      </li>
      <li>
        <i class="material-icons">mic</i>Event
      </li>
      <li>
        <i class="material-icons">group</i>About us
      </li>
      <li>
        <i class="material-icons">rss_feed</i>RSS
      </li>
      <li>
        <i class="material-icons">picture_as_pdf</i>Terms
      </li>
      <li>
        <i class="material-icons">picture_as_pdf</i>Policy
      </li>
    </ul>
    <ul class="mobile-sidenav">
      <div class="menu-text">
        Menu
        <div class="close-sign">
          <i class="close-icon material-icons" (click)="drawer.toggle()">close</i>
        </div>
      </div>
      <li><a (click)="drawer.toggle()" routerLinkActive="active" [routerLink]="appRouterUrls.DEFAULT"> <i class="icon material-icons">local_drink</i><span>Beers</span></a></li>
      <li><a (click)="drawer.toggle()" routerLinkActive="active" [routerLink]="appRouterUrls.UBL" *ngIf="userLoggedIn"><i class="icon material-icons">format_list_bulleted</i><span>User's Lists</span></a></li>
      <li><a (click)="drawer.toggle()" class="section-button" [routerLink]=""><i class="icon material-icons">group</i><span>About us</span></a></li>
      <li><a (click)="drawer.toggle()" class="section-button" [routerLink]=""><i class="icon material-icons">bar_chart</i><span>Statistics</span></a></li>
      <li><a (click)="drawer.toggle()" class="section-button" [routerLink]=""><i class="icon material-icons">mail_outline</i><span>Contact</span></a></li>
    </ul>
  </mat-drawer>
  <mat-drawer-content>
<div class="margins">
  <app-header (navToggle)="drawer.open()" (featureSelected)="onNavigate($event)"></app-header>
  <div class="page">
    <router-outlet></router-outlet>
  </div>
</div>
  </mat-drawer-content>
</mat-drawer-container>
