.margins {
  margin: 0;
  padding: 0;
  background-color: #f3f6f8;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
}
.material-icons {
  color: rgba(0, 0, 0, 0.54);
  margin-right: 32px;
  line-height: 56px;
  height: 56px;
  width: 28px;
  float: left;
}
.drawer {
  width: 300px;
}
.logo {
  text-align: center;
  padding: 6px;
  margin-bottom: 10px;
  position: relative;
}
.logo::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 10%;
  height: 1px;
  width: 90%;
  background-color: rgba(180,180,180,0.3);
}
.logo img {
  height: 80px;
}
.drawer ul {
  list-style: none;
  padding: 0;
}
.drawer ul li {
  width: 100%;
  line-height: 56px;
  padding: 0 32px;
  cursor: pointer;
}
.drawer ul li:hover:not(:first-child) {
  background-color: rgba(0,0,0,0.05);
}
.drawer li a {
  color: rgba(0,0,0,0.87);
  display: block;
  font-size: 15px;
  font-weight: 500;
  height: 56px;
  line-height: 56px;
  vertical-align: middle;
  text-decoration: none;
}
.mobile-sidenav {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .ul-pc {
    display: none;
  }
  .mobile-sidenav {
    display: block;
  }
  .menu-text {
    line-height: 24px;
    padding: 18px;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    font-size: 24px;
    font-weight: bold;
    color: #37474f;
  }
  .menu-text:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 1px;
    width: 100%;
    background-color: rgba(180,180,180,0.3);
  }
  .close-sign {
    height: 24px;
    margin-left: auto;
    padding: 0;
  }
  .close-icon {
    height: 24px;
    line-height: 24px;
    margin-right: 0;
    color: #000;
    cursor: pointer;
  }
  .icon {
    color: rgba(0,0,0,0.54);
  }
  .mobile-sidenav li {
    padding: 0 !important;
    width: 100%;
  }
  .mobile-sidenav li a {
    padding-left: 16px;
  }
  .mobile-sidenav li a:hover {
    background-color: rgba(252,228,236,0.3);
  }
  .active {
    border-left: #ff4081 solid 4px;
    padding-left: 16px;
    font-weight: 600;
    .icon {
      color: #ff4081;
    }
    span {
      color: #ff4081;
      font-weight: bold;
    }
  }
  .active:before {
    color: #ff4081;
    left: 0;
    width: 47px;
    height: 56px;
    content: '';
    display: block;
    opacity: 0.4;
    position: absolute;
    background: linear-gradient(90deg, #ff4081 0%, rgba(255,255,255,0) 100%);
  }
}
