<div class="row bcg-color list-group-item scrollbar">
  <div class="col-xs-8 col-xs-offset-2">
    <form [formGroup]="beerForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <i class="material-icons back-icon" (click)="onBack()" >arrow_back</i>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field>
                <input matInput
                       type="text"
                       id="name"
                       formControlName="name"
                       placeholder="Name">
              <mat-error>This field must be at least 3 characters long</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field>
              <input matInput
                     type="text"
                     id="contributed_by"
                     formControlName="contributed_by"
                     placeholder="Contributed by">
              <mat-error>This field must be at least 3 characters long</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          <div class="form-group">
            <mat-form-field>
              <input matInput
                type="text"
                id="image_url"
                formControlName="image_url"
                #image_url
                placeholder="Image URL">
              <mat-error>This field cannot be empty</mat-error>
            </mat-form-field>
            </div>
          <div class="form-group">
            <mat-form-field>
              <input matInput
                     type="text"
                     id="tagline"
                     formControlName="tagline"
                     placeholder="Tagline">
              <mat-error>This field must be at least 3 characters long</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3 centering">
          <img [src]="image_url.value" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <mat-form-field>
            <textarea matInput
                      type="text"
                      id="description"
                      class="inputs"
                      formControlName="description"
                      placeholder="Description"
                      rows="5"></textarea>
              <mat-error>This field must be at least 3 characters long</mat-error>
            </mat-form-field>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field>
              <input matInput
                     type="text"
                     id="first_brewed"
                     formControlName="first_brewed"
                     placeholder="First brewed (MM-YYYY)">
              <mat-error>Value does not match the pattern</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field>
              <input matInput
                     type="text"
                     id="abv"
                     formControlName="abv"
                     placeholder="ABV (Alcohol By Volume)">
              <mat-error>Number only (0-15), not empty and maximum 5 digits</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field>
              <input matInput
                     type="text"
                     id="ibu"
                     formControlName="ibu"
                     placeholder="IBU (International Bitterness Units)">
              <mat-error>Number only (1-1200), not empty and maximum 5 digits</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field>
              <input matInput
                     type="text"
                     id="ebc"
                     formControlName="ebc"
                     placeholder="EBC (European Brewery Convention)">
              <mat-error>Number only (1-600), not empty and maximum 5 digits</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field>
              <input matInput
                     type="text"
                     id="srm"
                     formControlName="srm"
                     placeholder="SRM (Standard Reference Method)">
              <mat-error>Number only (1-110), not empty and maximum 5 digits</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field>
              <input matInput
                     type="text"
                     id="ph"
                     formControlName="ph"
                     placeholder="PH">
              <mat-error>Number only (3-6), not empty and maximum 5 digits</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field>
              <mat-select [(value)]="selectedCity" [ngClass]="selectedCity" placeholder="City">
                <mat-option *ngFor="let city of cityPool; let i = index" value="{{city.name}}">{{city.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field>
              <mat-select [(value)]="selectedTypeName" [ngClass]="selectedTypeName" placeholder="Type name">
                <mat-option value="Porter">Porter</mat-option>
                <mat-option value="IPA">IPA</mat-option>
                <mat-option value="Lager">Lager</mat-option>
                <mat-option value="Craft">Craft</mat-option>
                <mat-option value="Lambic">Lambic</mat-option>
                <mat-option value="Premium">Premium</mat-option>
                <mat-option value="Pale Ale">Pale Ale</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 save-div">
          <button
            type="submit"
            class="btn btn-sample"
            [disabled]="!beerForm.valid">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
