.scrollbar {
  height: 100%;
  overflow-y: scroll;
}
img {
  max-height: 200px;
  margin-bottom: 15px;
}
.save-div {
  margin: 0;
  padding: 0 10px;
}
button {
  width: 100%;
}

.back-icon {
  cursor: pointer;
  position: relative;
  left: -20px;
}
mat-form-field {
  width: 100%;
}
.type-option {
  text-align: center;
}
.type-option img{
  height: 40px;
}
mat-option img {
  width: 40px;
  height: 40px;
  margin-top: 15px;
  margin-right: 15px;
}
.centering {
  display: flex;
  justify-content: center;
}
