/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body, html {
  background-color: #f3f6f8;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #37474f;
  overflow: hidden;
}

.bcg-color {
  background-color: white;
}
.form-rounded {
  border-radius: 0.3em;
  padding: 10px;

}.btn-sample {
   background-color: #2668ff;
   color: #fff;
   margin-top: -3px;
   transition: all .2s linear;
   border-radius: 20px;
 }
 .btn-sample:hover {
   color: #fff;
 }
.btn-sample:hover:enabled {
  transition: all .2s linear;
  color: #fff;
  background-color: #241fff;
}
.snackbar {
  color: #FFFFFF;
}
.lds-ring {
   display: inline-block;
   position: fixed;
   width: 64px;
   height: 64px;
   left: 45%;
   top: 45%;
 }
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  margin: 20px;
  border: 10px solid #807d7d;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #807d7d transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.filter-modal-button {
  .cdk-overlay-container {
      background: none;
    }
  }
