
.margins {
  margin: 0;
  padding: 0;
}
label {
  padding-top: 10px;
  margin-left: 15px;
}
.padding-bottom {
  padding-bottom: 10px;
}
#button-area {
  padding: 15px;
}
.filter-bar {
  height: 126px;
  padding: 0 40px 0 18px;
  display: flex;
  align-content: center;
  flex-flow: row wrap;
}
.types {
  flex-basis: 80%;
  display: flex;
}
.all-button {
  display: flex;
  align-items: center;
  height: 35px;
  width: 40px;
  margin-left: 3px;
  justify-content: center;
  border-radius: 20px;
  transition: all .2s linear;
  cursor: pointer;
}
.type {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15px;
  font-size: 11px;
  color: #99a1ab;
  cursor: pointer;
}
.type img {
  height: 35px;
  width: 35px;
  border-radius: 20px;
}
.cities {
  flex-basis: 80%;
  display: flex;
  .mat-button-toggle-group-appearance-standard {
    border: none;
  }
}
.mat-button-toggle-checked {
  background: linear-gradient(to right, #ba68c8, #9c27b0) !important;
  color: #FFF !important;
  transition: all .3s linear;
}
.city-button-menu {
  display: flex;
  align-items: center;
  height: 35px;
  background-color: #fff;
  color: #777;
  margin: 0;
  transition: all .2s linear;
  ::ng-deep .mat-button-toggle-checked {
    background: linear-gradient(to right, #ba68c8, #9c27b0) !important;
    color: #FFF !important;
    transition: all .3s linear;
  }
}
.cities-toggle-group {
  display: flex;
  flex-wrap: wrap;
}
.city-button {
  display: flex;
  align-items: center;
  height: 35px;
  background-color: #fff;
  color: #777;
  border-radius: 20px;
  margin: 10px 4px;
  transition: all .2s linear;
  ::ng-deep .mat-button-toggle-focus-overlay {
    background: none !important;
  }
}
.city-button:hover {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.dark-mode {
  display: flex;
  align-items: center;
  flex-basis: 20%;
  justify-content: flex-end;
}
.dark-mode mat-slide-toggle {
  margin: 0 10px;
}
.filter-button-div {
  display: flex;
  margin-bottom: 10px;
  flex-basis: 20%;
  justify-content: flex-end;
}
.filter-button {
  background-color: #fff;
  color: #777;
  border-radius: 20px;
  height: 35px;
  min-width: 80px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0 15px;
  transition: all 0.2s ease-out;
  border: none;
}
.filter-button:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.mat-icon-button {
  line-height: 0;
  font-weight: normal;
}
.mat-menu-panel .menu-width {
  min-width: 300px;
}
.sliders p {
  width: 700px;
  margin-bottom: 20px;
  text-align: center;
}
.mat-menu-item:hover, .mat-menu-item-active {
  background: none;
  cursor: auto;
}
.sliders {
  padding: 20px;
}
.sliders ::ng-deep .ng5-slider {
  margin: 0;
}

.sliders ::ng-deep .ng5-slider-pointer {
  width: 16px;
  height: 16px;
  top: -7px;
  background-color: #26A69A;
  outline: none;
}

.sliders ::ng-deep .ng5-slider-pointer::after {
  position: absolute;
  top: -7px;
  left: -7px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transform: scale(0);
  opacity: 0;
  transition: transform .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1),opacity .4s cubic-bezier(.25,.8,.25,1);
}

.sliders ::ng-deep .ng5-slider-pointer.ng5-slider-active::after {
  transform: scale(1);
  opacity: 1;
  background-color: rgba(38, 166, 154, 0.2);
}

.sliders ::ng-deep .ng5-slider-bar-wrapper {
  height: auto;
  padding: 0;
  margin: 0;
}

.sliders ::ng-deep .ng5-slider-selection {
  background-color: #26A69A;
}
.sliders ::ng-deep .ng5-slider-bar {
  height: 3px;
}
.outlet {
  height: calc(100vh - 191px);
}
.map {
  height: calc(100vh - 191px);
  margin: 0;
  padding: 0;
}
agm-map {
  height: 100%;
}
.active {
  color: #000;
  img {
    box-shadow: 0 2px 18px 10px rgba(53, 53, 61, 0.08);
  }
}
.filtering-device {
  display: none;
  padding: 10px;
}
.cities-device {
  flex: 1;
  height: 55px;
  margin-left: 10px;
}
.types-device {
  flex: 1;
  height: 55px;
}
.filtering-device select {
  width: 95%;
  height: auto;
  font-size: 18px;
  border-radius: 3px;
  color: #484848;
  padding: 14px;
  border: 0 solid #dce0e0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.05), 0 1px 5px 0 rgba(0,0,0,0.04);
  background-color: #fff;
}
@media only screen and (max-width: 992px) {
  .outlet {
    height: calc(70vh - 120px) !important;
  }
  .map {
    height: calc(30vh) !important;
  }
  .margins {
    overflow-y: hidden;
  }
  .filter-bar {
    display: none;
  }
  .filtering-device {
    display: flex;
  }
}
@media only screen and (max-width: 992px) and (orientation: landscape) {
  .map {
    display: none;
  }
  .outlet {
    height: calc(100vh - 120px) !important;
  }
}
@media only screen and (min-width: 1500px) {
  .map, .outlet {
    height: calc(100vh - 206px);
  }
}
@media only screen and (max-width: 1024px) {
  .map, .outlet {
    height: calc(100vh - 171px);
  }
}
