<div class="margins">
<div class="filter-bar">
  <div class="cities">
    <mat-button-toggle-group class="cities-toggle-group" #group1="matButtonToggleGroup" aria-label="Table Type" (change)="onToggleChangedGroup1(group1.value)" value="all">
      <mat-button-toggle value="all" class="city-button">All</mat-button-toggle>
      <mat-button-toggle class="city-button" *ngFor="let city of citiesToDisplay | slice: 0:7;" value="{{city}}">{{city}}</mat-button-toggle>
      <button mat-button [matMenuTriggerFor]="menu"><i class="material-icons">more_horiz</i></button>
      <mat-menu #menu="matMenu" class="cities-menu">
        <mat-button-toggle (click)="noClickable($event)" class="city-button-menu" *ngFor="let city of citiesToDisplay | slice: 7:citiesToDisplay.length;" value="{{city}}">{{city}}</mat-button-toggle>
      </mat-menu>
    </mat-button-toggle-group>
  </div>
  <div class="dark-mode">
    <i class="material-icons">wb_sunny</i>
    <mat-slide-toggle class="dark-mode-slider"></mat-slide-toggle>
    <i class="material-icons">nights_stay</i>
  </div>
  <div class="types">
    <div class="all-button" (click)="onTypeClick('all', null)" [ngStyle]="allButtonStyle">All</div>
    <div class="type" *ngFor="let type of typesToDisplay; let i = index" (click)="onTypeClick(type.name, i)" [ngClass]="{active: i===activeType}">
      <img src="{{type.image_url}}" alt="{{type.name}}"><p>{{type.name}}</p>
    </div>
  </div>
  <div class="filter-button-div">
    <button (menuOpened)="menuToggle()" [matMenuTriggerFor]="appMenu" class="filter-button">
      Filtering <span class="caret"></span>
    </button>
  </div>
  <mat-menu #appMenu="matMenu">
    <div (click)="noClickable($event)" class="sliders">
      <p mat-menu-item>Alcohol by volume</p>
      <ng5-slider [(value)]="filterElement[0].value" [(highValue)]="filterElement[0].highValue" [options]="filterElement[0].options"  (userChangeEnd)="onChangeSliderPosition()" [manualRefresh]="manualRefresh"></ng5-slider>
      <p mat-menu-item>International Bitterness Units</p>
      <ng5-slider [(value)]="filterElement[1].value" [(highValue)]="filterElement[1].highValue" [options]="filterElement[1].options" (userChangeEnd)="onChangeSliderPosition()" [manualRefresh]="manualRefresh"></ng5-slider>
      <p mat-menu-item>European Brewery Convention</p>
      <ng5-slider [(value)]="filterElement[2].value" [(highValue)]="filterElement[2].highValue" [options]="filterElement[2].options" (userChangeEnd)="onChangeSliderPosition()" [manualRefresh]="manualRefresh"></ng5-slider>
      <p mat-menu-item>Standard Reference Method</p>
      <ng5-slider [(value)]="filterElement[3].value" [(highValue)]="filterElement[3].highValue" [options]="filterElement[3].options" (userChangeEnd)="onChangeSliderPosition()" [manualRefresh]="manualRefresh"></ng5-slider>
      <p mat-menu-item>PH</p>
      <ng5-slider [(value)]="filterElement[4].value" [(highValue)]="filterElement[4].highValue" [options]="filterElement[4].options" (userChangeEnd)="onChangeSliderPosition()" [manualRefresh]="manualRefresh"></ng5-slider>
    </div>
  </mat-menu>
</div>
  <div class="filtering-device">
    <div class="cities-device">
      <select (change)="citySelectedOnDevice($event.target.value)">
        <option value="all">All</option>
        <option *ngFor="let city of citiesToDisplay" value="{{city}}">{{city}}</option>
      </select>
    </div>
    <div class="types-device">
      <select (change)="typeSelectedOnDevice($event.target.value)">
        <option value="all">All</option>
        <option *ngFor="let type of typesToDisplay" value="{{type.name}}">{{type.name}}</option>
      </select>
    </div>
  </div>
  <div class="col-md-6 outlet">
    <router-outlet></router-outlet>
  </div>
  <div class="col-md-6 map">
    <agm-map [zoom]="zoom" [latitude]="mapLat" [longitude]="mapLng">
      <agm-marker
        *ngFor="let marker of markers"
        [latitude]="marker.lat"
        [longitude]="marker.lng"
        [iconUrl]="marker.icon"
        [animation]="marker.animation"
        [zIndex]="marker.index">
        <agm-info-window>
          <strong>{{ marker.beerName }}</strong>
          <p>{{ marker.cityName }}</p>
        </agm-info-window>
      </agm-marker>
      </agm-map>
  </div>
</div>
