<div class="scrollable">
  <div class="row margins">
    <div class="col-sm-6 col-sm-offset-3 bcg-color form-rounded">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h2>List management</h2>
        </div>
      </div>
      <div class="col-sm-6 text-center">
        <h4>Select list to display</h4>
        <div id="list-div">
          <mat-form-field>
            <mat-label>List name</mat-label>
            <mat-select [(ngModel)]="listSelected" (ngModelChange)="onListChange($event)">
              <mat-option *ngFor="let list of listsOfBeers" [value]="list.id">
                {{list.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button
            class="btn btn-danger"
            type="button"
            (click)="onDeleteList()">Delete list</button>
        </div>
      </div>
      <div class="col-sm-6 text-center">
        <h4>You can add another list</h4>
        <mat-form-field>
          <label>
            <input #newList matInput placeholder="Type list name" [(ngModel)]="inputList">
          </label>
        </mat-form-field>
        <button
          class="btn btn-create"
          type="button"
          [disabled]="inputList.length<3"
          (click)="addList(newList.value)">Create</button>
      </div>
    </div>
  </div>
  <hr>
  <div class="beer-list">
    <app-users-beer-list-item
      class="beer-list-item"
      *ngFor="let favBeerEl of listsOfBeers[listSelected].beers; let i = index"
      [favouriteBeer]="favBeerEl"
      [index]="i"></app-users-beer-list-item>
  </div>

</div>
