.scrollable {
  height: 92vh;
  overflow: scroll;
}
.btn-create {
  background-color: #2668ff;
  color: #fff;
  margin-top: -3px;
  transition: all .2s linear;
  margin-left: 10px;
  border-radius: 20px;
}
.btn-create:hover {
  transition: all .2s linear;
  background-color: #241fff;
}
.btn-danger {
  margin-top: -3px;
  transition: all .2s linear;
  margin-left: 10px;
  border-radius: 20px;
}
.btn-danger:hover {
  transition: all .2s linear;
}
.margins {
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
  overflow: hidden;
}
.beer-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 32px;
  margin-right: 16px;
}
.beer-list > * {
  margin-right: 16px;
}
.beer-list-item {
  flex: 0 1 calc(25% - 16px);
}
@media screen and (max-width: 1434px) {
  .beer-list > * {
    margin-right: 16px;
  }
  .beer-list-item {
    flex: 0 1 calc(33.3% - 16px);
  }
}
@media screen and (max-width: 1090px) {
  .beer-list > * {
    margin-right: 16px;
  }
  .beer-list-item {
    flex: 0 1 calc(50% - 16px);
  }
}
@media screen and (max-width: 749px) {
  .beer-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .beer-list > *:not(:last-child) {
    margin-bottom: 8px;
    margin-right: 16px;
  }
}
mat-form-field {
  margin-top: 15px;
}
